﻿@model IEnumerable<Bank.cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>CLIENTES</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.nombres)*@
            <p>Nombres</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.apellidos)*@
            <p>Apellidos</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.cui)*@
            <p>CUI</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.nit)*@
            <p>NIT</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.telefono)*@
            <p>Telefono</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.direccion)*@
            <p>Direccion</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.email)*@
            <p>Email</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) | @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
        </td>
    </tr>
}

</table>
