﻿@model Bank.cuenta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.divisa.divisa1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.divisa.divisa1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_cuenta.cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_cuenta.cuenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
