﻿@model IEnumerable<Bank.cuenta>

@{
    ViewBag.Title = "Cuentas";
}

<h2>CUENTAS</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.numero)*@
            <p>Numero</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.cliente.nombres)*@
            <p>Cliente</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.divisa.divisa1)*@
            <p>Divisa</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tipo_cuenta.cuenta)*@
            <p>Tipo de Cuenta</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => (item.cliente.nombres + " " + item.cliente.apellidos))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.divisa.divisa1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_cuenta.cuenta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
