﻿@model Bank.tarjeta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tarjeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cvs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuenta.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuenta.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_tarjeta.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_tarjeta.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
