﻿@model IEnumerable<Bank.tarjeta>

@{
    ViewBag.Title = "Tarjetas";
}

<h2>TARJETAS</h2>

<p>
    @Html.ActionLink("Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.numero)*@
            <p>Numero</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.nombre)*@
            <p>Nombre</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.fecha_vencimiento)*@
            <p>Vencimiento</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.cvs)*@
            <p>CVS</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.cuenta.id)*@
            <p>Cuenta</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.estado_tarjeta.estado)*@
            <p>Estado</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_vencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cvs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuenta.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_tarjeta.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
